/*css*/
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #c54283, #d67900); /* rosa a azul */ /* Mezcla rojo y azul al 50% */
  padding: 20px;
}

h1 {
  color: #ffffff;
  margin-bottom: 15px;
}

.text-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

li{
  flex: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  list-style-type: none;
}

ul {
  padding-inline-start: 0; /* o el valor que quieras */
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: linear-gradient(135deg, #f64f59, #c471ed, #12c2e9);
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  margin: 5px 0px 5px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(246, 79, 89, 0.4);
}
